@model GameClub.ViewModels.MemberGroupViewModel

@if (Model.GameMembers != null)
{
    <div class="form-group">
        <label for="GameID" class="control-label">请选择成员ID：</label>
        <div>
            <select class="form-control" id="GameID" name="GameID" size="1">
                @if (Model.GameMembers.Count() > 0)
                {
                    <option value="" selected>请选择</option>
                    foreach (var item in Model.GameMembers)
                    {
                        <option value="@item.GameID">@item.GameID @item.GameName</option>
                    }
                }
                else
                {
                    <option value="" selected>暂时没有可选的成员</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="GroupName" class="control-label">分配组：</label>
        <select class="form-control" id="GroupName" name="GroupName" size="1">

            <option value="猫组" selected>猫组</option>
            <option value="狗组">狗组</option>
            @if (Model.MemberGroupList != null && Model.MemberGroupList.Type.Equals("团本"))
            {
                <option value="鱼组">鱼组</option>
            }
        </select>
    </div>
}
else
{
    <div class="form-group">
        <label for="" class="control-label">暂时没有可选的成员</label>
    </div>
}




