@model GameClub.ViewModels.ArticleViewModel
<div class="">
    @{ Html.RenderPartial("_ArticlePageTable", Model);}
</div>
<div class="text-center">
    @Ajax.Pager(Model.ArticlePagedList, new PagerOptions { AutoHide = false, PageIndexParameterName = "PageIndex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" }).AjaxOptions(a => a.SetUpdateTargetId("ArticlePageTable").SetDataFormId("SearchForm"))
</div>
