@model GameClub.ViewModels.FeedBackViewModel
<div class="">
    @{ Html.RenderPartial("_FeedBackPageTable", Model);}
</div>
<div class="text-center">
    @Ajax.Pager(Model.Feedbacks, new PagerOptions { AutoHide = false, PageIndexParameterName = "PageIndex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" }).AjaxOptions(a => a.SetUpdateTargetId("FeedBackPageTable").SetDataFormId("SearchForm"))
</div>
<script type="text/javascript">
    $(document).ready(
        function DealLink() {
            $("[id=DelLink]").each(function () { $(this).html("<i class='mdi mdi-window-close'></i>") })
            $("[id=pageIndexInput]").each(function () { $(this).val("@Model.PageIndex") })
        }
    );
</script>